.main {display: flex; justify-content: center; align-items: center;}
.box {border: 10px solid green; width: 400px; margin: 10px; text-align: center;}
.box h1 {text-align: center; text-transform: capitalize;}
.box img {width: 300px; margin: 0 auto;}
.buttons {text-align: center;}
.buttons button {padding: 10px; background: #222; color: #fff; border: none; margin: 0 5px; font-weight: bold; cursor: pointer;}
.box.lose {border-color: black;}
.box.win {border-color: red;}