body {padding: 50px;}
.box {width: 100px; height: 100px; border: 2px solid blueviolet; text-align: center; line-height: 100px;}

button {background: none; border: 1px solid blueviolet; padding: 10px;}